{% extends "base.html" %}
{% block content %}
    {# WELCOME
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    <section class="pt-8 pb-11 pt-md-9 pb-md-12 py-lg-14 bg-light bg-between" style="background-image: url(static/img/illustrations/kingdom-6-cropped.png), url(static/img/illustrations/kingdom-8-cropped.png);">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-7 text-center" data-aos="fade-up">

            {# Image mobile resize #}
            <img src="static/img/illustrations/kingdom-8.png" alt="..." class="img-fluid mb-6 d-lg-none">

            {# Heading #}
            <h1 class="display-2 font-weight-bold">
                Sampling music has<br>
                never been easier.
            </h1>

            {# Subtitle #}
            <p class="font-size-lg text-muted mb-6 mb-md-8">
                Forward thinking producers use Sound Sieve to enhance
                the sampling process.
            </p>

            {# Call to action #}
            <a href="#!" class="btn btn-primary mr-1 lift">
              Get started <i class="fe fe-arrow-right ml-3"></i>
            </a>


            <a href="#!" class="btn btn-primary-soft lift">
              Learn more
            </a>

          </div>
        </div> {# /row #}
      </div> {# /container #}
    </section>

    {# SHAPE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    <div class="position-relative">
      <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"/>
        </svg>
      </div>
    </div>

    {# PRICING
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    <section class="mt-n8">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="50">

          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="100">
              <br><br><br><br><br><br><br><br>
          </div>
          <div class="col-12 col-md-4" data-aos="fade-up" data-aos-delay="150">


          </div>
        </div> {# / row #}
      </div> {# / container #}
    </section>
{% endblock content %}
